div.lateral-menu {
  margin-top: 59px;
  background: #F6F6F6;
  height: 100vh;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icones {
  padding: 25px 0px;
}

.plus {
  padding-top: 10px;
}

.ajustes {
  background-color: #20272C;
  border-radius: 10px;
  margin-top: 320px;
}

.iconeAjustes {
  width: 30px;
  padding: 8px;
}

.navbar {
  background-color: #B600EE;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  top: 0;
  position: fixed;
}

.campoDireito {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.sinoImg {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0;
}

.nomeUsuario {
  padding: 20px 10px 0 20px;
  border-left: 1px solid #BBC4CE;
  color: #FFFFFF;
}

.logo {
  margin-top: 5px;
  margin-left: 10px;
}

.avatar {
  padding: auto;
  width: 50px;
}

.campoLocal {
  margin-top: 5px;
}

.inputLocal {
  margin-left: 24px;
  padding: 5px 100px 5px 10px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 12px;
  align-items: left;
}

.campoEsquerdo {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.usuario {
  height: 50px;
  margin-right: 50px;
}

.inputCep {
  margin-top: 97px;
  margin-left: 107px;
  border: 1px solid #BBC4CE;
  border-radius: 10px;
  width: 293px;
  height: 52px;
  font-size: 16px;
  padding-left: 10px;
}

.buttonAddEndereco {
  margin-top: 97px;
  margin-left: 140px;
  border: 1px solid #B600EE;
  border-radius: 10px;
  width: 293px;
  height: 52px;
  font-size: 16px;
  background-color: #B600EE;
  color: #FFFFFF;
}

.buttonGerarEndereco {
  margin-top: 77px;
  margin-left: 207px;
  border: 1px solid #B600EE;
  border-radius: 10px;
  width: 293px;
  height: 52px;
  font-size: 16px;
  background-color: #B600EE;
  color: #FFFFFF;
}

.buttonAddEndereco:active {
  transform: scale(0.98);
  background-color: #8e06b8;
}

.buttonGerarEndereco:active {
  transform: scale(0.98);
  background-color: #8e06b8;
}

.layoutPesquisaCep {
  margin-top: 10px;
}

.cepsListados {
  margin-top: 41px;
  margin-left: 107px;
}

.botaoGerarEnderecos {
  margin-left: 350px;
}

.card {
  width: 55%;
  height: 120px;
  margin-top: 41px;
  margin-left: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 1em 0 #cfcece;
}

.alinhar {
  display: flex;
}

.endereco {
  padding: 10px;
}

.iconeLugar {
  padding: 10px;
}

.cepCard {
  margin-right: 10px;
  padding: 20px;
  color: #B600EE;
}

.imgLugarCard {
  width: 24px;
}

.lixo {
  margin-right: 10px;
  padding: 20px 20px 20px 20px;
  border-left: 1px solid #BBC4CE;
}

.btnExcluir {
  background: transparent;
}

.imgExcluir:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.imgExcluir:active {
  transform: scale(1.2);
}

button {
  border: none;
  cursor: pointer;
}
.msgBtn {
  margin: auto;
}

.iconePlus {
  margin: auto -50px auto 50px;
}

.msgbutton {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
